:root {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Sixtyfour Convergence", sans-serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;

}

.sigma {
    background-color: aquamarine;
    width: 1920px;
    height: 120px;
}

.reklama {
    width: 500px;
    height: 500px;
    background-color: lightblue;
    margin: 50px;


}

.footer {

    width: 1920px;
    height:300px;
    background-color: gray;
    border-color: aliceblue;
    border-width: 20px;
}

h2 {text-align: center;}