:root {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Sixtyfour Convergence", sans-serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;

}

.sigma {
    background-color: aquamarine;
    width: 1920px;
    height: 120px;
}